<%- include ("partials/header") %>

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
            <p>Omniagro Innovations Limited is a leading manufacturer and supplier of Toothpicks, Plastic spoons and Agro-allied products globally.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 content d-flex flex-column" data-aos="fade-right" data-aos-delay="100">
              <img src="\img\toothpick.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <ul>
                <li>
                  <i class="bx bx-store-alt"></i>
                  <div>
                    <h5>We develop the Economy</h5>
                    <p>Nigerian economy NEEDS to fully transition from an import dependent to an export driven one. One way to reduce this is to locally manufacture 
                      some of these things we import. When this is done, we reduce demand for foreign currency, and make the Naira more valuable.</p>
                  </div>
                </li>
                <li>
                  <i class="bx bx-store-alt"></i>
                  <div>
                    <h5>Our Quality is unmatched</h5>
                    <p>Omniagro Innovations is determined not to compromise on quality. Unlike a lot of toothpicks in the market today that are produced with 
                      defects – like inadequate formation and fungal decay, OmniAgro Toothpicks passes through high levels of quality control to ensure the 
                      finished product has no defects.</p>
                  </div>
                </li>
                <li>
                  <i class="bx bx-images"></i>
                  <div>
                    <h5>Packaging</h5>
                    <p>OMNIAGRO toothpicks come in packs that can sit comfortably in your bag, work table, dining table, car dashboard, and so on, without 
                      looking out of place. What this means is that you can take your toothpicks everywhere you go, and it won’t look out of place. </p>
                  </div>
                </li>
              </ul>
              <p>
                What we do in Omniagro farm are fishery (majorly catfish), Cassava (to its finished product), Tomatoes, yam and maize cultivation.
                We have the vision of enriching lives with quality agricultural commodities, bringing sales to those who consumes the final Products. 
                Omniagro farm  is aimed at bridging the gap between local farmers and buyers to develop practices suitable for delivering competitive prices, 
                transparency, reliable market force and excellent service for client satisfaction globally.
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Service</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
  
<%- include ("partials/footer") %>