<%- include ("partials/header") %>

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>F.A.Q</h2>
            <h3>Frequently Asked <span>Questions</span></h3>
            <p>Below are a list of frequently asked questions about Our Company, Its Products and Services.</p>
          </div>
  
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <ul class="faq-list">
  
                <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is Omniagro toothpicks made of? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      OmniAgro toothpicks are made purrely out of Bamboo rather than the regular wooden ones available in the market in line with best dental practices.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Can the Products be directly gotten from the Factory? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      We are available 24hours in a day, Six(6) days a week from Monday to Saturday. You could also contact us via phone call for customer support.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Does OmniAgro export its Products? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      At OmniAgro, we export all our products to Many countries.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How efficient is OmniAgro delivery rate in all parts of Nigeria? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      We have efficient delivery technique to offer better delivery services to all parts of Nigeria.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Does OmniAgro manufacture plastic plates? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      At OmniAgro Plastic section, we currently only engage in the manufacture and distribution of plastic spoons for Takeaway Packs.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Is OmniAgro open for employment oppurtunities? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      At OmniAgro, Competent and Qualified Job seekers are invited for interview in various fields and upon success, they are offered employment.
                    </p>
                  </div>
                </li>
  
              </ul>
            </div>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->

<%- include ("partials/footer") %>