<%- include ("partials/header") %>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3>Check our <span>Services</span></h3>
          <p>Below are the services we offer at OmniAgro Innovations Limited.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Plastic spoons</a></h4>
              <p>We are majorly involved in the manufacture and distribution of quality plastic spoons used with 
                Takeaway packs. We ensure to provide quality products to portray global best practices.</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Toothpicks Manufacture</a></h4>
              <p>We ensure to produce better quality toothpick from Bamboo rather that wood to ensure its in line with the recommended 
                dental health guidelines. this is to ensure we deliver quality products to our customers worldwide.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-spreadsheet"></i></div>
              <h4><a href="">Fisheries</a></h4>
              <p>At OmniAgro farm, we are major dealer in the production and supply of Catfish. Our supply chains borders within 
                and outside the Nigerian space.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-food-menu"></i></div>
              <h4><a href="">Agro-allied Products</a></h4>
              <p>We deal in the vast production of Agro-allied products ranging from Cassava (up to the finished state), Tomatoes, Yam and Maize. 
                We ensure to grow healthy crops in line with global standards.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

<%- include ("partials/footer") %>